body{
    background-color: rgb(222, 135, 214);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

#container{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}
textarea {
    resize: none;
    
}
button{
    margin-top: 10px;
}